<!DOCTYPE html>
{% extends 'houseworks/base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-1">
            Column
        </div>
        <div class="col-9">
            <div class="alert alert-primary" role="alert">
                House Work List
            </div>
            
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">WorkType</th>
                        <th scope="col">Description</th>
                        <th scope="col">Publish Date</th>
                        <th scope="col">Updated Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for work in work_list %}
                    <tr>
                        <th scope="row">{{ work.id }}</th>
                        <th scope="row">{{ work.name }}</th>
                        <th scope="row">{{ work.work_type }}</th>
                        <th scope="row">{{ work.description }}</th>
                        <th scope="row">{{ work.pub_date }}</th>
                        <th scope="row">{{ work.update_date }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-2">
            Column
        </div>
    </div>
</div>



{% endblock content %}