<!DOCTYPE html>
{% extends 'houseworks/base.html' %}
{% block content %}
<div class="row">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h4>PDFtoExcel</h4>
        <p>PDF→Excel変換</p>
      </div>
      <div class="icon">
        <i class="ion ion-android-share"></i>
      </div>
      <a href="#" class="small-box-footer">管理画面へ移動 <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h4>Excel管理画面</h4>
        <p>生成済みExcelファイルの管理</p>
      </div>
      <div class="icon">
        <i class="ion ion-document"></i>
      </div>
      <a href="#" class="small-box-footer">管理画面へ移動 <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
</div>
{% endblock content %}