<!DOCTYPE html>
{% extends 'houseworks/base.html' %}
{% block content %}
<div class="row">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h4>タスクを実行する</h4>
        <p>タスクの実行履歴を追加します</p>
      </div>
      <div class="icon">
        <i class="ion ion-android-share"></i>
      </div>
      <a href="{% url 'houseworks:history_create' %}" class="small-box-footer">タスク記録画面へ移動 <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h4>新規タスクの追加</h4>
        <p>新しいタスクの情報を入力し、追加します</p>
      </div>
      <div class="icon">
        <i class="ion ion-document"></i>
      </div>
      <a href="{% url 'houseworks:work_create' %}" class="small-box-footer">タスク追加画面へ移動 <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-blue">
      <div class="inner">
        <h4>タスクの取得</h4>
        <p>今日行う予定のタスクを取得します</p>
      </div>
      <div class="icon">
        <i class="ion ion-document"></i>
      </div>
      <a href="{% url 'houseworks:work_list' %}" class="small-box-footer">タスク追加画面へ移動 <i
          class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
</div>
{% endblock content %}