<!DOCTYPE html>
{% extends 'houseworks/base.html' %}
{% load bootstrap_icons %}
{% block content %}
<h1 class="m-0">{{ object.name }}</h1>

<br>

<p class="text-warning">タスク"{{ work.name }}"を消去しますがよろしいですか？</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">属性</th>
            <th scope="col">値</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ID</td>
            <td>{{ object.id }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ object.description }}</td>
        </tr>
        <tr>
            <td>Published</td>
            <td>{{ object.pub_date }}</td>
        </tr>
        <tr>
            <td>Updated</td>
            <td>{{ object.update_date }}</td>
        </tr>
        <tr>
            <td>Interval type</td>
            <td>
                {% for interval_type in work.interval_types.all %}
                {{interval_type.name}}
                {% empty %}
                <a class="text-warning">No interval types are set.</a>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Hashtags</td>
            <td>
                {% for hashtag in work.hashtags.all %}
                {{ hashtag.name }}
                {% empty %}
                No hashtags are set.
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>

<p>"{{ work.name }}"の一連のプロセスを表示します</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">プロセス番号</th>
            <th scope="col">作業内容</th>
            <th scope="col">作業詳細</th>
        </tr>
    </thead>
    <tbody>
        {% for process in work_processes %}
        <tr>
            <td>{{ process.procedure_number }}</td>
            <td>{{ process.name }}</td>
            <td>{{ process.description }}</td>
        </tr>
        {% empty %}
        No processes.
        {% endfor %}
    </tbody>
</table>

<form action="" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

<a href="{% url 'houseworks:work_list' %}">{% bs_icon 'box-arrow-left' %}タスク一覧へ戻る</a>

{% endblock content %}