<!DOCTYPE html>
{% extends 'houseworks/base.html' %}
{% load bootstrap_icons %}
{% block content %}
<h1 class="m-0">タスク一覧</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Published</th>
            <th scope="col">Updated</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for work in object_list %}
        <tr>
            <th scope="row">{{ work.id }}</th>
            <th scope="row"><a href="{% url 'houseworks:work_detail' work.id %}">{{ work.name }}</a></th>
            <th scope="row">{{ work.description }} </th>
            <th scope="row">{{ work.pub_date }} </th>
            <th scope="row">{{ work.update_date }}</th>
            <th scope="row">
                <a href="{% url 'houseworks:index' %}" class="btn btn-success">{% bs_icon 'play-circle' %}タスク実行</a>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}