<!DOCTYPE html>
{% extends 'houseworks/base.html' %}
{% load bootstrap_icons %}
{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Hash tag</th>
            <th scope="col">Interval type</th>
            <th scope="col">Published</th>
            <th scope="col">Updated</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for work in object_list %}
        <tr>
            <th scope="row">{{ work.id }}</th>
            <th scope="row">{{ work.name }}</th>
            <th scope="row">{{ work.description }} </th>
            <th scope="row">
                <ul>
                    {% for hashtag in work.hashtags.all %}
                    <li>#{{ hashtag.name }}</li>
                    {% empty %}
                    <a class="text-warning">No specific hashtags yet.</a>
                    {% endfor %}
                </ul>
            </th>
            <th scope="row">
                <ul>
                    {% for interval_type in work.interval_types.all %}
                    <li>{{ interval_type.name }}</li>
                    {% empty %}
                    <a class="text-warning">No specific interval types yet.</a>
                    {% endfor %}
                </ul>
            </th>
            <th scope="row">{{ work.pub_date }} </th>
            <th scope="row">{{ work.update_date }}</th>
            <th scope="row">
                <button type="button" class="btn btn-info">{% bs_icon 'play-circle' %}</button>
                <button type="button" class="btn btn-primary">{% bs_icon 'info-circle' %}</button>
                <button type="button" class="btn btn-secondary">{% bs_icon 'pencil-square'%}</button>
                <button type="button" class="btn btn-danger">{% bs_icon 'trash3' %}</button>
                
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}