<!DOCTYPE html>
{% extends 'houseworks/base.html' %}
{% load bootstrap_icons %}
{% block content %}
<h1 class="m-0">{{ object.name }}</h1>

<a href="{% url 'houseworks:history_create'%}?user={{ request.user.id }}&work={{ object.id }}" class="btn btn-success">{% bs_icon 'play-circle' %}タスク"{{ work.name }}"を実行する</a>

<li>"{{ work.name }}"の詳細情報を表示します</li>

<a href="{% url 'houseworks:work_update' object.id %}" class="btn btn-secondary">{% bs_icon 'pencil' %}タスク"{{ work.name}}"を編集する</a>
<a href="{% url 'houseworks:work_delete' object.id %}" class="btn btn-danger">{% bs_icon 'trash3' %}タスク"{{ work.name }}"を消去する</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">属性</th>
            <th scope="col">値</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ID</td>
            <td>{{ object.id }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ object.description }}</td>
        </tr>
        <tr>
            <td>Default Executor</td>
            <td>{{ object.default_executor }}</td>
        </tr>
        <tr>
            <td>Published</td>
            <td>{{ object.pub_date }}</td>
        </tr>
        <tr>
            <td>Updated</td>
            <td>{{ object.update_date }}</td>
        </tr>
    </tbody>
</table>

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          プロセスを確認する
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">
            {% include 'components/process_table.html' %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          スケジュールを確認する
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
            
            {% include 'components/schedule_table.html' %}
            
            <a href="{% url 'houseworks:workschedule_create'%}?work={{ object.id }}" class="btn btn-success">
                {% bs_icon 'play-circle' %}"{{ work.name }}"のスケジュールを追加する
            </a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          履歴を確認する
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body">
            {% include 'components/history_table.html' %}
        </div>
      </div>
    </div>
</div>

<a href="{% url 'houseworks:work_list' %}">{% bs_icon 'box-arrow-left' %}タスク一覧へ戻る</a>

{% endblock content %}