<!DOCTYPE html>
<div class="row">
    <div class="col-lg-4 col-8">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <p>{{ work.name}}の実行</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="{% url 'houseworks:history_create'%}?user={{ request.user.id }}&work={{ object.id }}" class="small-box-footer">
            実行 <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-8">
        <!-- small box -->
        <div class="small-box bg-secondary">
          <div class="inner">
            <p>{{ work.name}}の編集</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="{% url 'houseworks:work_update' object.id %}" class="small-box-footer">
            編集 <i class="fas fa-arrow-circle-right"></i>
        </a>
        </div>
     </div>
     <div class="col-lg-4 col-8">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <p>{{ work.name}}の消去</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="{% url 'houseworks:work_delete' object.id %}" class="small-box-footer">
            消去 <i class="fas fa-arrow-circle-right"></i>
        </a>
        </div>
     </div>
</div>