<!DOCTYPE html>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">属性</th>
            <th scope="col">値</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ID</td>
            <td>{{ object.id }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ object.description }}</td>
        </tr>
        <tr>
            <td>Default Executor</td>
            <td>{{ object.default_executor }}</td>
        </tr>
        <tr>
            <td>Published</td>
            <td>{{ object.pub_date }}</td>
        </tr>
        <tr>
            <td>Updated</td>
            <td>{{ object.update_date }}</td>
        </tr>
    </tbody>
</table>